html {
  background-color: rgb(44, 43, 43);
}

body {
  margin: 0%;
}

.mainDisplay {
  color: rgb(207, 207, 207);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100dvh;
}

.errorsDisplay {
  grid-area: 1 / 1 / 2 / 2;
  height: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleError {
  background-color: rgb(252, 77, 77);
  margin: 5px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}

.rawError {
  overflow: scroll;
  scrollbar-color: rgb(100, 100, 100) rgb(44, 43, 43);
  background-color: rgb(44, 43, 43);
  margin: 10px;
  border: solid;
  border-color: rgb(27, 25, 25);
  height: 30dvh;
  width: 100dvh;
}

.clientsDisplay {
  box-sizing: border-box;
  height: 100dvh;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: solid 2px;
  border-color: rgb(26, 26, 26);
}

.clientsHeader {
  padding-left: 10px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: rgb(26, 26, 26);
}

.newClientContainer {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: rgb(26, 26, 26);
}

.newClientForm {
  width: fit-content;
}

.clientsList {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  max-height: 100%;
  overflow: auto;
  scrollbar-color: rgb(100, 100, 100) rgb(37, 37, 37);
}

.singleClient {
  max-height: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.singleClientHeader {
  display: flex;
  gap: 10px;
}

.singleClientMetadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singleClientBind {
  display: flex;
  flex-direction: column;
}

.singleClientSearch {
  display: flex;
  flex-direction: column;
}

.singleClientOperationForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singleClientExop {
  display: flex;
  flex-direction: column;
}

.ldapTreeContainer {
  display: grid;
  min-height: 100px;
  max-height: inherit;
  height: max-content;
  overflow: hidden;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.openEntriesContainer {
  width: fit-content;
  position: relative;
  grid-area: 1 / 2 / 2 / 3;
  max-height: 100%;
  min-height: 0%;
  display: flex;
  flex-direction: column;
}

.openEntriesHeader {
  display: flex;
  justify-content: space-between;
}

.ldapTreeDisplayContainer {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
}

.userInteractionContainer {
  min-height: 1.3em;
  min-width: 15em;
  max-height: 100%;
  background-color: rgb(60, 60, 60);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(26, 26, 26);
  overflow: auto;
}

.userInteractionButtons {
  margin: 2px;
}

.ldapTreeEntry {
  margin-left: 7.5px;
  border-style: solid;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left-width: 2px;
  border-color: rgb(20, 20, 20);
}

.ldapTreeEntry:last-child {
  border-style: hidden;
  padding-left: 2px;
}

.ldapEntryVisibilityToggle {
  position: relative;
  left: -2px;
  top: -3px;
  background-color: rgb(60, 60, 60);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  border-left-width: 2px;
  border-right: 0px;
  border-bottom-width: 2px;
  border-top-width: 0px;
  margin-left: 0px;
  padding-left: 5px;
}

.openEntryButton {
  background-color: rgb(60, 60, 60);
  padding-left: 0px;
}

.openEntryContainer {
  padding-bottom: 15px;
}

.openEntryContainer:last-child {
  padding-bottom: 0px;
}

.modifyControlContainer {
  display: flex;
  gap: 5px;
}

.singleOpenEntry {
  margin: 3px;
}

.ldapAttributeValues {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.headlessFirstTableRow>td {
  border-top-width: 0px;
}

th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

td {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-color: rgb(82, 82, 82);
  vertical-align: text-top;
  padding-left: 5px;
  padding-right: 5px;
}

table {
  border-collapse: collapse;
  margin: 2px;
}

input {
  background-color: rgb(50, 50, 50);
  color: rgb(207, 207, 207);
  border-style: hidden;
  outline-width: 0;
  padding: 0px;
  margin: 0px;
}

button {
  background-color: rgb(66, 66, 66);
  color: rgb(207, 207, 207);
  border-style: hidden;
  margin: 1px;
}

.positiveButton {
  background: rgb(55, 163, 64);
  color: rgb(27, 23, 23);
  border-style: hidden;
  margin: 1px;
}

.negativeButton {
  background: rgb(184, 68, 93);
  color: rgb(27, 23, 23);
  border-style: hidden;
  margin: 1px;
}

.deleteButton {
  background: rgb(184, 68, 93);
  color: rgb(27, 23, 23);
  font-size: 0.7rem;
  padding: 2px;
  margin: 0px;
}

.criticalCheckbox::before {
  background: rgb(207, 207, 207);
  content: "";
  width: 11px;
  height: 11px;
  transform: scale(0);
}

.criticalCheckbox:checked::before {
  transform: scale(1);
}

.criticalCheckbox {
  position: relative;
  top: 1px;
  appearance: none;
  background-color: rgb(50, 50, 50);
  margin: 0;
  font: inherit;
  color: currentColor;
  height: 15px;
  width: 15px;
  border: 0;
  display: grid;
  place-content: center;
}

.hiddenButton {
  appearance: none;
  size: 0px;
  background-color: inherit;
  font-size: 1em;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.advancedOptionsContainer {
  padding: 3px;
}

input[type="radio"] {
  position: relative;
  top: 2px;
  margin-right: 2px;
  margin-left: 5px;
  appearance: none;
  background-color: rgb(50, 50, 50);
  font: inherit;
  color: currentColor;
  height: 15px;
  width: 15px;
  border: 0;
}

input[type="radio"]::before {
  background: rgb(207, 207, 207);
  content: "";
  float: left;
  margin: 2px;
  width: 11px;
  height: 11px;
  transform: scale(0);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
